build/
.gradle/
*.class
.DS_Store
.metals/
.vscode/
/.project
/.classpath
/.settings/
/.metadata/
/*.launch
derby.log
data/openbravopos-database/
data/openbravopos-database.bak*/
data/*.tsv
data/__pycache__/
devdb/
dev.properties
external-data/
data/resdump/
/openbravopos.jar
/locales.jar
/reports.jar
