[Desktop Entry]
Version=2.30.2
Encoding=UTF-8
Name=Retail POS
Terminal=false
Exec=openbravopos
Icon=openbravopos
Type=Application
InitialPreference=6
Categories=Application;Office;
StartupNotify=false
GenericName=Retail POS
Comment=Retail POS is a point of sale designed for touch screens
Name[en_US]=Retail POS
GenericName[en_US]=Retail POS
